<div class="index-container">
    <img src="images/beer.png" alt="Beer image">
    <a class="index-btn" href="/beers">Check the Beers!</a>
    <a class="index-btn" href="/random-beers">Check a Random Beer!</a>
</div>